{{log}}
{{log '> start article-form.hbs'}}

<form action="/articles/new" method="post">
  <h3>
    <label>ADD NEW ARTICLE</label>
  </h3>
  <label>Title:  
    <input type="text" name="title" id="">
  </label>
  <br>
  <br>
  <label>Body:  
    <input type="text" name="body" id="">
  </label>
  <br>
  <br>
  <label>Author:  
    <input type="text" name="author" id="">
  </label>
  <br>
  <br>
  <label>
    <input type="submit" value="Submit">
  </label>
</form>

<br>
<br>
<a href="/articlesHome/">Back to Articles Home</a>

<br>
<br>
{{> footer}}

{{log '> end article-form.hbs'}}