{{log 'start article-form.hbs'}}

<form action="/articles/new" method="post">
  <label>Title:  
    <input type="text" name="title" id="">
  </label>
  <br>
  <br>
  <label>Body:  
    <input type="text" name="body" id="">
  </label>
  <br>
  <br>
  <label>Author:  
    <input type="text" name="author" id="">
  </label>
  <br>
  <br>
  <label>
    <input type="submit" value="Submit">
  </label>
</form>
<br>
{{> footer}}

{{log 'end article-form.hbs'}}