{{log}}
{{log '> start home.hbs'}}

<img src="apple.jpeg" alt="apple.jpeg" />
<p>
  <a href="/productsHome/">PRODUCTS</a>
</p>
<p>
  <a href="/articlesHome/">ARTICLES</a>
</p>
<p>
  <a href="/users">USERS</a>
</p>
<p>
  <a href="pictures">PICTURES</a>
</p>
<p>
  <a href="videos">VIDEOS</a>
</p>
<p>
  <a href="about">ABOUT</a>
</p>
<p>
  <a href="/login">LOGIN</a>
</p>
<p>
  <a href="/logout">LOGOUT</a>
</p>

{{log '> end home.hbs'}}
