<form action="/products/new" method="post">
  <label>Name:
    <input type="text" name="product" id="">
  </label>
  <br>
  <br>
  <label>Price:
    <input type="text" name="price" id="">
  </label>
  <br>
  <br>
  <label>Inventory:
    <input type="text" name="inventory" id="">
  </label>
  <label>
    <br>
    <br>
    <input type="submit" value="Submit">
  </label>
</form>

<br>
<br>
{{> footer}}