{{log}}
{{log '> start user-login.hbs'}}

<form action="/users/login" method="post">
  <h3>
    <label>Users Login:</label>
  </h3>
  <label>Username:
    <input type="text" name="username" id="" required>
  </label>
  <br>
  <br>
  <label>Password:
    <input type="password" name="password" id="" required>
  </label>
  <br>
  <br>
  <label>
    <input type="submit" value="Login">
  </label>
</form>
    {{log '> Login page loaded to browser'}}

<br>
<br>
<a href="/articlesHome">Articles Home</a>

<br>
<br>
<a href="/productsHome">Products Home</a>

<br>
<br>
{{> footer}}

{{log '> end user-login.hbs'}}